/* colors */

/* SCSS HEX */
// $colorA: #4e3d42ff;
// $colorB: #6d6466ff;
// $colorC: #9f9f92ff;
// $colorD: #c9d5b5ff;
// $colorE: #e3dbdbff;

// $colorA: #c9f2c7ff;
// $colorB: #aceca1ff;
// $colorC: #96be8cff;
// $colorD: #629460ff;
// $colorE: #243119ff;

$colorA: #919098ff;
$colorB: #897c80ff;
$colorC: #ba8f95ff;
$colorD: #cab6cdff;
$colorE: #cfbcdfff;
